<section id="about-me">
  <div class="content">
    <h1 class="title">About Me</h1>

    <div class="img-col">
      <div class="img">
        <picture>
          <source srcset="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x, ../../assets/media/about-me/pic1-350_small_2x.min.jpg 2x">
          <img src="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x" alt="Pic">
        </picture>
      </div>
      <div class="img">
        <picture>
          <source srcset="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x, ../../assets/media/about-me/pic1-350_small_2x.min.jpg 2x">
          <img src="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x" alt="Pic">
        </picture>
      </div>
      <div class="img">
        <picture>
          <source srcset="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x, ../../assets/media/about-me/pic1-350_small_2x.min.jpg 2x">
          <img src="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x" alt="Pic">
        </picture>
      </div>
      <div class="img">
        <picture>
          <source srcset="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x, ../../assets/media/about-me/pic1-350_small_2x.min.jpg 2x">
          <img src="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x" alt="Pic">
        </picture>
      </div>
      <div class="img">
        <picture>
          <source srcset="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x, ../../assets/media/about-me/pic1-350_small_2x.min.jpg 2x">
          <img src="../../assets/media/about-me/pic3-300x300_small_1x.min.jpg 1x" alt="Pic">
        </picture>
      </div>
    </div>

    <div class="content-col">
      <!-- Basic Info -->
      <div class="about-me-content">
        <p><i class="fa fa-id-badge" aria-hidden="true"></i>Name: Mark Paolo Bautista Libunao</p>
        <p><i class="fa fa-user-circle" aria-hidden="true"></i>Nickname: MP</p>
        <p><i class="fa fa-birthday-cake" aria-hidden="true"></i>Age: 24</p>
        <p><i class="fa fa-gift" aria-hidden="true"></i>Birthday: October 20, 1992</p>
        <p><i class="fa fa-id-card-o" aria-hidden="true"></i>Nationality: Filipino</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Location: Balagtas, Bulacan / Taft Avenue, Manila</p>
        <div><a class="about-me-link" href="https://github.com/mplibunao" target="_blank"><i class="fa fa-github about-me-fa" aria-hidden="true"></i>GitHub</a></div>
        <span>|</span>
        <div><a class="about-me-link" href="https://www.facebook.com/mplibunao" target="_blank"><i class="fa fa-facebook-official about-me-fa" aria-hidden="true"></i>Facebook</a></div>
        <span>|</span>
        <div><a class="about-me-link" href="https://www.freecodecamp.com/mplibunao" target="_blank"><i class="fa fa-free-code-camp about-me-fa" aria-hidden="true"></i>Free Code Camp</a></div>
      </div>

      <!-- Education -->
      <div class="about-me-content">
        <h2><i class="fa fa-university about-me-fa about-me-content-header" aria-hidden="true"></i>Education:</h2>
        <p class="about-me-content"><i class="fa fa-free-code-camp about-me-fa about-me-fa" aria-hidden="true"></i>Present - Free Code Camp</p>
        <p class="about-me-content"><i class="fa fa-graduation-cap about-me-fa" aria-hidden="true"></i>2017 - De La Salle University Manila, BS Information Systems</p>
      </div>

      <!-- Hobbies and Interest -->
      <div class="about-me-content">
        <h2><i class="fa fa-puzzle-piece about-me-fa about-me-fa about-me-content-header" aria-hidden="true"></i>Hobbies and Interests:</h2>
        
        <h3><i class="fa fa-book about-me-fa" aria-hidden="true"></i>Reading</h3>
        <p class="about-me-content">Mostly articles from the internet. I particularly like to read and browse through <a class="about-me-link" href="https://reddit.com" target="_blank">Reddit</a>,  <a class="about-me-link" href="https://medium.com" target="_blank">Medium</a> and <a class="about-me-link" href="http://lifehack.org" target="_blank">Lifehack.org.</a></p>

        <h3><i class="fa fa-laptop about-me-fa" aria-hidden="true"></i>Technology</h3>
        <p class="about-me-content">I specifically love to read articles about technology even those about other fields or specializiations. I love finding out how things work behind the scenes and learning about simple yet practical hacks I can use in my everyday life that can save me time or effort. Aside from the previously mentioned sites, I also like to browse <a class="about-me-link" href="https://news.ycombinator.com" target="_blank">Hacker News</a> and <a class="about-me-link" href="https://techcrunch.com" target="_blank">Tech Crunch</a> every now and then but try to limit myself since there's so much to read.</p> 
        
        <h3><i class="fa fa-youtube-play about-me-fa" aria-hidden="true"></i>Movies / TV Shows</h3>
        <p class="about-me-content">I don't watch as often as I did a few years back but every now and then I like watch a few movies or tv series. Some of my recent favorites are Mr. Robot, Silicon Valley, Stranger Things and Westworld. I really like in particular Mr. Robot and Silicon Valley.</p>

        <h3><i class="fa fa-gamepad about-me-fa" aria-hidden="true"></i>Games</h3>
        <p class="about-me-content">I love games!! Whether it be MOBA, mobile or even browser games. I think I have around 500-1000 hours on DOTA 2, all level 10 walls (and a few level 11) on Clash of Clans, Dragons B10 on Summoners War etc.
          I even use gamified apps for my productivity apps like <a class="about-me-link" href="https://habitica.com" target="_blank">Habitica</a> and <a class="about-me-link" href="https://www.forestapp.cc/" target="_blank">ForestApp</a>
          just to add an element of fun to my work and make it more enjoyable. Although I don't get to play much these days except for an occassional game or two of Mobile Legends because you know.. Code is Life
      </div>
    </div>
  </div>
</section>
