@import '../../scss/mixins';
@import '../../scss/variables';
@import 'responsive';

$bgPath: $nestedBgPath + $bg_normal_1x_jpg;

$imgColWidth: 30%;
$imgColPad: 10%;
$contentColLeftMgn: 50px;
$contentColRightMgn: 25px;
$contentColWidth: calc(95% - (((#{$imgColWidth} + #{$imgColPad}) + #{$contentColLeftMgn} ) + #{$contentColRightMgn}) );


#about-me{

  @include bg("#{$nestedBgPath}/hotel-1250x950.jpg", 0.8, 0.7);

  .content{
    width: 100%;
    @include clearFix;
  }
} //end #about-me

// BG for big screens
@media screen and (min-width:1500px){
  #about-me{
    @include bg("#{$nestedBgPath}/hotel-1920x1280.jpg", 0.8, 0.7);
  }
}

.title{
  text-align: center;
  color: $headingColor;
  width: 100%;
  margin-top: 10vh;
  font-size: 35px;
  margin-bottom: 40px;
}

.img-col{
  width: $imgColWidth;
  height: 100%;
  padding-left:$imgColPad;
  float:left;
  transition: width 1s ease;

  .img{
    margin-bottom: 5em;
    width: 100%;
  }

  img{
    border-radius: 50%;
    display:block;
    max-width: 100%;
    height: auto;
    transition: width 1s ease, border .2s ease, padding .2s ease;
  }
} // end img-col

.content-col{
  width: $contentColWidth;
  height:100%;
  float:left;
  padding-left: $contentColLeftMgn;
  margin-right:$contentColRightMgn;
  transition: width 1s ease;

  .about-me-content{
    margin-bottom:2em;
    font-size: 18px;
    text-align: justify;
    line-height: 2;
    color: $contentColor;
    font-family: $contentFont;

    h2{
      margin-left: -20px;
    }

    div{
      display: inline-block;
    }
  } // end about-me-content

  .fa{
    margin: 15px 5px 0 5px;
  }

  a{
    color: $linkColor;
    &:hover{
      color: $linkHoverColor;
    }
  }

} // end content-col

@media screen and (max-width: 835px){
  .img-col{
    width:$imgColWidth - 10%;
  }  

  .content-col{
    width: calc(#{$contentColWidth} + 10%);
  }
}

@media screen and (max-width: 710px){
  .img-col{
    width:0;

    img{
      display:none;
    }
  }

  .content-col{
    width:80%;
  }

  .about-me-content{
    span{
      display:none;
    }
    div{
      display: block;
    }
  }
}




/*
// webp-loader for webpack needed
Small to Regular Screens
.webp .backgroundImage{
  @include bg("#{$nestedBgPath}/hotel-1250x950.min.webp", 0.8, 0.7);
}
.no-webp .backgroundImage{
  @include bg("#{$nestedBgPath}/hotel-1250x950.min.jpg", 0.8, 0.7);
}

// Big screens
@media screen and (min-width:1500){
  .webp .backgroundImage{
    @include bg("#{$nestedBgPath}/hotel-1920x1280.min.webp", 0.8, 0.7);
  }
  .no-webp .backgroundImage{
    @include bg("#{$nestedBgPath}/hotel-1920x1280.min.jpg", 0.8, 0.7);
  }
}
*/