<nav id="nav" class="nav">
  <span class="navbar-brand">Portfolio</span>
  <ul class="nav-list" [ngClass]="navClass">
    <li class="nav-item" [routerLinkActive]="['nav-active']"><a [routerLink]="['/home']">Home</a></li>
    <li class="nav-item" [routerLinkActive]="['nav-active']"><a [routerLink]="['/about-me']">About Me</a></li>
    <li class="nav-item" [routerLinkActive]="['nav-active']"><a [routerLink]="['/portfolio']">Portfolio</a></li>
    <li class="nav-item" [routerLinkActive]="['nav-active']"><a [routerLink]="['/contact-me']">Contact Me</a></li>
  </ul>
  <i class="fa fa-bars nav-menu" (click)="toggleSideNav()"></i>
</nav>
<router-outlet></router-outlet>