@import '../scss/mixins';
@import '../scss/variables';


$navLength: 50%;
$navPadding: 10px;
$navBrandLength: 30%;

.nav-active{
  background-color: $contentColor;
  border-bottom: 3px solid $headingColor;
}

.nav{
  width: 100%;
  position:fixed;
  height: 3em;
  z-index: 10;
  top:0;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  line-height: 3;
  a {
    text-decoration: none;
    color: $headingColor;
  }

  ul{
    display:inline-block;
  }
}         

.navbar-brand{
  float:left;
  padding:0;
  margin:0;
  width: $navBrandLength;
  color: $headingColor;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: display 1s ease;
}

.nav-list{
  width:$navLength;
  margin:0;
  padding:0;
  float:right;
  transition: width 1s ease, transform .1s, display 1s ease;
}

.nav-menu{
  color: $headingColor;
  font-size: 1.5em;
  line-height: 2;
  position:absolute;
  left:20px;
  z-index: 1000;
  display:none;
  cursor: pointer;
}

.nav-item{
  display:inline-block;
  margin-right:-4px;
  text-align: center;
  transition: width .3s ease, border-bottom .3 ease, background-color .3 ease, display 1s ease;
  &:hover{
    background-color: $contentColor;
    border-bottom: 3px solid $headingColor;
  }
  a {
    padding:10px;
  }
}


// Add burger / Off screen nav
@media screen and (max-width: 750px){
  .nav-list{
    transform: translate(0, -500px);
    -webkit-transform: translate(0, -500px);
    position:relative;
    display:block;
    width: 100%;
    z-index: 11;
    
  }

  .navbar-brand{
    width:100%;
    display:block;
  }

  .nav-list-open{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  .nav-list-close{
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
  }

  .nav-item{
    display: list-item;
    text-align: center;
    border-top: 1px solid $contentColor;
    border-bottom: 1px solid $contentColor;
    background: rgba(0, 0, 0, 0.8);

    a{
      padding-left: 30%;
      padding-right: 30%;
    }
  }



  .nav-menu{
    display:inline-block;
    z-index: 900;
  }

  // set nav-item to default?
} // end media query