// Fonts
$headingFont: 'Roboto Slab', serif;
$contentFont: 'Lato', sans-serif;

// Colors
$headingColor: #249bcb;
$contentColor: #c4dce6;
$linkColor: #7499b2;
$linkHoverColor: #0e7aa9;

// Background images
$bgPath: "assets/media/background/";
