@import '../../scss/mixins';
@import '../../scss/variables';

$imgPath: '../../assets/media/background/';



#home{
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("#{$imgPath}#{$home_normal_1x_jpg}") bottom center no-repeat fixed;
  background-size:cover;
  width: 100vw;
  height: 100vh;
  //margin-top:40px;
}