@import '../../scss/mixins';
@import '../../scss/variables';

$imgPath: '../../assets/media/background/';



#home{
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("#{$imgPath}#{$home_normal_1x_jpg}") bottom center no-repeat fixed;
  background-size:cover;
  width: 100vw;
  height: 100vh;

  .content{
    padding: 40vh 30vw 0 30vw;
    text-align: center;
    color: $contentColor;
    font-size: 30px;
  }
}